@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote��th, td {
	margin: 0;
	padding: 0;
	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, th, var, b, em {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
capation, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: ' '
}
.f12 {
	font-size: 12px;
}
.f13 {
	font-size: 13px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.f22 {
	font-size: 22px;
}
.f24 {
	font-size: 24px;
}
.fb {
	font-weight: bold;
}
.t2 {
	text-indent: 2em;
}
.lh24 {
	line-height: 24px;
}
.lh36 {
	line-height: 36px;
}
.gray0 {
	color: #000;
}
.gray1 {
	color: #333;
}
.gray2 {
	color: #999;
}
.blue {
	color: #008bdf;
}
.write {
	color: #fff;
}
.org {
	color: #FF7D00;
}
.green {
	color: #58a722;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.bc {
	margin-left: auto;
	margin-right: auto;
}
.fl {
	float: left;
	display: inline;
}
.fr {
	float: right;
	display: inline;
}
.fclear{clear:both;}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
*html .clearfix {
	height: 1%
}
. Clearfix {
display:block;
}
.vm {
	vertical-align: center;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.abs-right {
	position: absolute;
	right: 0;
}
.zoom {
	zoom: 1
}
.block {
	display: block;
}
.hidden {
	visibility: hidden;
}
.none {
	display: none;
}
img{ width:auto; max-width:100%;}
*html {
	background-image: url(about:blank);
	background-attachment: fixed;
}
.re{ position:relative;}
body {
	/*font-family: "微软雅黑", arial, Helvetica, sans-serif;*/
	font-family:"Microsoft Yahei", Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px; background:#fff; height:100%;
	
}
a {
	color: #666;
	text-decoration: none;
}
a:hover { text-decoration:none;
}
a:focus {outline:none;-moz-outline:none;}
.btnn a {background: #02b1f3;border: medium none;border-radius: 4px;color: #fff;display: inline-block;font-size: 14px;height: 26px;line-height: 26px;padding: 0 14px;text-align: center;margin-left: 20px;text-decoration: none; cursor:pointer;}
.btnn a:hover{background: #34c0e2;}

input,textarea {outline:none;}

.page_width{width:1100px; margin:auto;}
/*登录*/
.loginMain{ background:#1f7bc5 url(../images/bg.jpg); background-size:cover;}
.loginpage{width:1100px; margin:auto; padding-top:140px;}
.loginMain .logo{text-align:center; padding-top:120px; float:left;}
.loginMain .logo .txt{padding-top:70px; color:#6288a7; font-size:12px;}
.loginMain .logo .txt span{padding:0px 15px;}

.login{width:436px; height:360px; padding:52px 70px 64px; background:rgba(255,255,255,0.5); -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; border-radius:8px; -webkit-box-shadow: 8px 0px 16px rgba(80,140,192,0.75); -moz-box-shadow: 8px 0px 16px rgba(80,140,192,0.75); -o-box-shadow: 8px 0px 16px rgba(80,140,192,0.75); box-shadow: 8px 0px 16px rgba(80,140,192,0.75);  float:right;}
.login .head {text-align:center;}
.login .body{ padding:36px 0px 30px;}
.login ul li{ margin:0; margin-bottom:16px; height:52px;}
.login ul li .text{ border:0px; height:30px; padding:10px 0; width:100%; border-radius:24px; text-indent:50px; font-size:14px; color:#666;font-family: "微软雅黑", arial, Helvetica, sans-serif;}
.login ul li .ico1{ background:#fff url(../images/ico1.png) no-repeat 19px center;}
.login ul li .ico2{ background:#fff url(../images/ico2.png) no-repeat 19px center;}
.login ul li .ico3{ background:#fff url(../images/ico3.png) no-repeat 19px center; width:280px;}
.login ul li .code{float:right; border-radius:24px;}
.login ul li .code img{border-radius:24px;}
.login ul li .button{height:41px; line-height:40px; background:#81C2FF; font-size:14px; color:#fff; border-radius:4px; border:none; width:130px; cursor:pointer; margin-left:15px;}
.login .ck{line-height:20px; height:20px; padding:6px 0 22px 24px; color:#abadae;}
.login .ck input{float:left; margin-right:14px; margin-top:3px;}
.login .ck span{padding:0 14px;color:#abadae;}
.login .ck a{color:#abadae;}
.login .submit{display:block; height:50px; background:#0eb7f6; color:#fff; border-radius:25px; border:none; width:100%; cursor:pointer; font:24px/40px "微软雅黑", arial, Helvetica, sans-serif;-webkit-box-shadow: 5px 5px 5px rgba(104,208,247,0.45); -moz-box-shadow: 5px 5px 5px rgba(104,208,247,0.45); -o-box-shadow: 5px 5px 5px rgba(104,208,247,0.45); box-shadow: 5px 5px 5px rgba(104,208,247,0.45);}
.login .submit:hover{ opacity:0.8;}

/*主页面*/
.page{ background:#F5F5F5; overflow-y: hidden;}
#top{position:absolute; bottom:0; left:0; top:0; right:0; height:68px; border-bottom:1px solid#eeeff2; width: 100%; z-index: 9999; background:#fff;}
#top .topRight{position:absolute; bottom:0; left:0; top:0; right: 0; width:194px;}
#top .topLeft{position:absolute; bottom:0; left:194px; top:0; right: 0;  height:68px;}
.contentWrap{background:#f5f5f5;position: absolute; bottom:0; left:194px; top:69px; right: 0; }
.content{left:44px;}
.siderBar{ position:absolute; left:0; top:69px; bottom:0; width:194px;background:#02b1f3; height:100%;color:#dbdada; z-index:9999;}
.siderIco{width:44px;}

.nav-tip{cursor: pointer;width: 12px;background: url(../images/nav-tip.png) no-repeat;left:5px;top: 50%;height: 73px;position: absolute;background-position-x: 0; z-index:999;}

.Conframe{border: 1px solid #f5f5f5;background:#f5f5f5;position: absolute;left:6px;top:0px;overflow: auto;right: 0px;bottom:0px; z-index:999;padding: 0px;}
#Conframe{border: none;height: 100%;width:99%; margin-left:1%; background-color:#f5f5f5;}



.siderBar .head{height:40px; line-height:40px; text-align:center; color:#6b6d76; font-size:16px; border-right:1px solid #EEEFF2; background:#fff; font-weight:bold;}
.siderBar .body { }
.siderBar .body .info{ height:150px; position:relative; border-bottom:1px solid #6bdbff; padding-top:20px; padding-left:36px;}
.siderIco .body .info{ height:64px; position:relative; border-bottom:1px solid #6bdbff; padding-top:40px; padding-left:0px;}
.siderBar .body .info .edt{ display:block; background:url(../images/s_ico.png) no-repeat; width:14px; height:14px; text-indent:-9999em; position:absolute; top:68px; right:10px;}
.siderBar .body .info .siderIcoBtn{display:block; background:url(../images/s_ico.png) no-repeat 0px -72px; width:14px; height:14px; text-indent:-9999em; position:absolute; top:10px; right:10px;}
.siderBar .body .info .avatar{ position:relative; width:95px; height:95px; margin-bottom:15px; }
.siderBar .body .info .avatar img{ display:block; width:95px; height:95px; border-radius:50%;}
.siderBar .body .info  p{ padding-left:27px; background:url(../images/s_ico.png) no-repeat 0px -32px; height:20px; line-height:20px; color:#6bdbff;}
.siderBar .body .info  p span{ color:#fff; padding:0 5px;}
.siderIco .body .info .avatar{  height: 36px; margin-bottom:0px; margin-left: 4px; width: 36px;}
.siderIco .body .info .avatar span{width:36px; height:36px; position:absolute; left:0; top:0; background-size:100%;}
.siderIco .body .info .avatar img{ width:36px; height:36px;}
.siderIco .body .info  p{ padding-left:44px; font-size:0; background:url(../images/s_ico1.png) no-repeat center center ;}
.siderIco .body .info .edt{ display:none;}
.siderIco .body .info .siderIcoBtn{ display:block; background:url(../images/s_ico.png) no-repeat 0px -72px; width:14px; height:14px; text-indent:-9999em; position:absolute; top:14px; right:18px;}


.siderBar .foot{background:#02b1f3; padding:20px; border-top:1px solid #6bdbff; color:#6bdbff; line-height:22px; text-align:center;}
.siderIco  .foot{ display:none;}

/*边导航*/
.mNav{position:relative; width:194px;padding:20px 0px; z-index:1; }
.siderIco .mNav{ width:44px;}
.mNav .hd{ width:194px; clear:both; padding-top:10px;}
.siderIco .mNav .hd{ width:44px;}
.mNav .hd ul{ text-align:center; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.mNav .hd ul li{ display:inline-block; *display:inline; zoom:1;  width:9px; height:9px; overflow:hidden; margin:0 6px; text-indent:-999px; cursor:pointer; background:url(../images/dot1.png) no-repeat center center; }
.mNav .hd ul li.on{ background:url(../images/dot2.png) no-repeat center center; }
.siderIco .mNav .hd ul li{ margin:8px  6px;}
.mNav .bd{ width:194px;}
.siderIco .mNav .bd{ width:44px;}
.mNav .bd .ulWrap,.mNav .bd .tempWrap{ overflow:visible !important;}
.mNav .bd ul{  zoom:1; text-align:left; font-size:14px;}
.mNav .bd .ulWrap>ul.on{min-height:380px;}
.mNav .bd ul.on{ display:block;}
.mNav .bd ul li { position:relative; overflow:visible;}
.mNav .bd ul li h3 a{ display:block; height:50px; line-height:50px;color:#fff;padding-left:30px; text-indent:10px;}
.mNav .bd ul li h3 a p,.mNav .bd ul li h3 a em{ display:none;}
.siderIco .mNav .bd ul li ul{ display:none;}
.siderIco .mNav .bd ul li h3 a{ padding-left:6px; position:relative;}


.siderIco .mNav .bd ul li h3 a span{ display:none;}
.mNav .bd ul li h3 a:hover{ height:50px;}
.mNav .bd ul li h3 i{display:block; height:50px; width:24px; float:left;background:url(../images/list_ico_a.png) no-repeat;}
.mNav .bd ul li h3 a:hover i{background:url(../images/list_ico_b.png) no-repeat;}
.mNav .bd ul li .ico1,.mNav .bd ul li h3 a:hover .ico1{background-position:0px 20px;}
.mNav .bd ul li .ico2,.mNav .bd ul li h3 a:hover .ico2{background-position:-50px 20px;}
.mNav .bd ul li .ico3,.mNav .bd ul li h3 a:hover .ico3{background-position:-100px 20px;}
.mNav .bd ul li .ico4,.mNav .bd ul li h3 a:hover .ico4{background-position:-150px 20px;}
.mNav .bd ul li .ico5,.mNav .bd ul li h3 a:hover .ico5{background-position:0px -30px;}
.mNav .bd ul li .ico6,.mNav .bd ul li h3 a:hover .ico6{background-position:-50px -30px;}
.mNav .bd ul li .ico7,.mNav .bd ul li h3 a:hover .ico7{background-position:-100px -30px;}
.mNav .bd ul li .ico8,.mNav .bd ul li h3 a:hover .ico8{background-position:-150px -30px;}
.mNav .bd ul li .ico9,.mNav .bd ul li h3 a:hover .ico9{background-position:0px -82px;}
.mNav .bd ul li .ico10,.mNav .bd ul li h3 a:hover .ico10{background-position:-50px -82px;}
.mNav .bd ul li .ico11,.mNav .bd ul li h3 a:hover .ico11{background-position:-100px -80px;}
.mNav .bd ul li .ico12,.mNav .bd ul li h3 a:hover .ico12{background-position:-150px -80px;}
.mNav .bd ul li .ico13,.mNav .bd ul li h3 a:hover .ico13{background-position:0px -130px;}
.mNav .bd ul li .ico14,.mNav .bd ul li h3 a:hover .ico14{background-position:-50px -130px;}
.mNav .bd ul li .ico15,.mNav .bd ul li h3 a:hover .ico15{background-position:-100px -130px;}
.mNav .bd ul li .ico16,.mNav .bd ul li h3 a:hover .ico16{background-position:-150px -130px;}
.mNav .bd ul li .ico17,.mNav .bd ul li h3 a:hover .ico17{background-position:0px -180px;}
.mNav .bd ul li .ico18,.mNav .bd ul li h3 a:hover .ico18{background-position:-50px -180px;}
.mNav .bd ul li .ico19,.mNav .bd ul li h3 a:hover .ico19{background-position:-100px -180px;}
.mNav .bd ul li .ico20,.mNav .bd ul li h3 a:hover .ico20{background-position:-150px -180px;}


.mNav .bd ul li h3 a{padding-left:35px; text-indent:10px; border-right:6px solid #02b1f3;}
.mNav .bd ul li h3 a:hover {background-color:#0f98cc; border-right:6px solid #f7f085;}

.mNav .bd ul li .sub{position:absolute; left:194px; top:0; width:147px; display:none; z-index:1000; box-shadow:4px 4px 4px; background:#fff; height:auto;}
.mNav .bd ul li .subTop{position:absolute; left:194px; top:-170px; width:147px; display:none; z-index:1000;}
.mNav .bd ul li .sub_04{position:absolute; left:194px; top:-320px; width:147px; display:none; z-index:1000;}
.mNav .bd ul li .sub_05{width:147px;}
.mNav .bd ul li .sub_07{position:absolute; left:194px; top:-189px; width:147px; display:none; z-index:1000;}
.siderIco .mNav .bd ul li .sub{ display:none;}

.siderIco .mNav .bd ul li .sub{position:absolute; left:44px; top:0; width:147px; display:none; z-index:1000; box-shadow:4px 4px 4px; background:#fff; height:auto;}
.siderIco .mNav .bd ul li .subTop{position:absolute; left:44px; top:-104px; width:147px; display:none; z-index:1000;}
.siderIco .mNav .bd ul li .sub_04{position:absolute; left:44px; top:-260px; width:147px; display:none; z-index:1000;}
.siderIco .mNav .bd ul li .sub_05{width:147px;}
.siderIco .mNav .bd ul li .sub_07{position:absolute; left:44px; top:-189px; width:147px; display:none; z-index:1000;}


.mNav .bd ul li .sub ul { width:147px; float:left;}
.mNav .bd ul li .sub ul li{ height:40px; position:relative;}
.mNav .bd ul li .sub ul li a{ display:block;height:40px;line-height:40px;color:#32373b; padding-left:52px; }
.mNav .bd ul li .sub ul li strong i{background:url(../images/portal_menuIcon.png) no-repeat;  width: 22px;height: 22px; border: 0px;display: inline-block;vertical-align: top; margin:10px 6px 0 18px; float:left;}
.mNav .bd ul li .sub ul li strong  i.nn1{ background-position:0 0;}
.mNav .bd ul li .sub ul li strong  i.nn2{ background-position:-96px 0;}
.mNav .bd ul li .sub ul li strong  i.nn3{ background-position:-122px 0;}



.mNav .bd ul li .sub ul:nth-child(2n){ border-left:1px solid #ccc; width:194px;}
.mNav .bd ul li .subTop ul:nth-child(2n){ border-left:1px solid #ccc; width:194px;}
.mNav .bd ul li .subTop ul li{ height:40px; position:relative;}
.mNav .bd ul li .subTop ul li a{ display:block;height:40px;line-height:40px;color:#32373b; padding-left:52px; /*background:url(../images/nav_sub_bg.png) no-repeat left -2px;*/}

.mNav .bd ul li .sub ul li strong{ font-weight:normal;}
.mNav .bd ul li .sub ul li a:hover{ background-position:0 -47px; /*color:#2372b0;*/ background-color:#a1daf4;}
.mNav .bd ul li .subTop ul li a:hover{ background-position:0 -47px; /*color:#2372b0;*/background-color:#a1daf4;}
.mNav .bd ul li:hover .sub{ display:block;}
.mNav .bd ul li .sub ul li strong em{ display:block; float:right; height:50px; line-height:50px; background:url(../images/arrow-right.png) no-repeat center  17px; width:5px; height:50px; margin-right:18px; }
.mNav .bd ul li .subTop ul li strong em{ display:block; float:right; height:50px; line-height:50px; background:url(../images/arrow-right.png) no-repeat center 17px; width:5px; height:50px; margin-right:18px; }

.mNav .bd ul li .sub ul li strong a:hover em{ display:block; float:right; height:50px; line-height:50px; background:url(../images/arrow-right_on.png) no-repeat center  17px; width:5px; height:50px; margin-right:18px; }
.mNav .bd ul li .subTop ul li strong a:hover em{ display:block; float:right; height:50px; line-height:50px; background:url(../images/arrow-right_on.png) no-repeat center 17px; width:5px; height:50px; margin-right:18px; }


.mNav .bd ul li .sub .item2{ display:none;}
.mNav .bd ul li .sub ul li dl{width:147px; position:absolute; left:147px; top:0; border-left:0px solid #464E78; display:none; box-shadow: 1px 1px 4px; border:1px solid #f2f2f2; width:160px;}
.mNav .bd ul li .sub ul li dl.ss{ position:absolute; /*width:116px;*/ left:147px; top:0; z-index:999; /*border:1px solid #fff;*/  box-shadow: 1px 1px 4px;}
.mNav .bd ul li .sub ul li dl.on{ display:block;}
.mNav .bd ul li .sub ul li dl dd{height:40px;line-height:40px;}
.mNav .bd ul li .sub ul li dl dd a{ display:block;height:40px;line-height:40px; padding-left:26px; /*background:url(../images/nav_sub_bg2.png) no-repeat left -42px;color:#2372b0;*/ background:#fff;}
.mNav .bd ul li .sub ul li dl dd a:hover{/* background-position:0 -2px; color:#2372b0;*/background:#a1daf4;}
.mNav .bd ul li.selected .sub{ display:block;}
.mNav .bd ul li.selected  h3 a,.mNav .bd ul li.on a{ background:url(../images/nav_on.png) no-repeat center -50px; color:#fff;}
.mNav .bd ul li.selected .sub li.selected dl{ display:block;}
.mNav .bd ul li.selected .sub li.selected strong a{background-position:0 -54px; color:#fff;}

/*主导航*/
.nav{height:68px; line-height:68px; text-align:center; color:#6f839e; font-size:14px; border-bottom:1px solid #fff; background:#fff;}
.nav ul{ text-align:right; overflow:hidden; background:#fff;}
.nav ul li{ display:inline-block; *display:inline; zoom:1; height:68px; line-height:68px;  background:url(../images/line.png) no-repeat left center;}
.nav ul li.edtDel{}
.nav ul li.edtDel em{position:absolute;display:block;width:0;height:0;
top:-8px;right:54px;border-bottom:8px solid #fff;border-right:8px solid transparent;border-left:8px solid transparent; display:none;}
.nav ul li.edtDel .edtDelT{display: inline-block; line-height: 48px; position: absolute; right: 218px;  top: 68px;  width: 116px; border:0px solid #ccc; background:#fff; border-radius:3px; display:none; box-shadow:0 0 5px;}
.nav ul li.edtDel:hover em{ display:block;}
.nav ul li.edtDel:hover .edtDelT{display:block; padding:10px 0px;}
.nav ul li a{display:inline-block; *display:inline; zoom:1;height:68px; line-height:68px;padding:0 27px; color:#6f839e;}
.nav ul li a:hover{color:#02b1f3;}
.nav ul li.noBorder{ background:none;}
.nav ul li i{display:inline-block; *display:inline; zoom:1; width:22px; height:22px; margin-right:8px; background:url(../images/n.png) no-repeat center center; position:relative; top:5px;}
.nav ul li i.ico1{background-position:0px 0px;}
.nav ul li i.ico2{background-position:0px -32px;}
.nav ul li i.ico3{background-position:0px -66px;}
.nav ul li i.ico4{background-position:0px -100px;}
.nav ul li i.ico5{background-position:0px -134px;}
.nav ul li i.ico6{background-position:0px -168px;}
.nav ul li i.ico7{background-position:0px -202px;}
/*2015-08-10 add style*/
.navSmall{height:68px; line-height:68px;}
.nav ul li{ height:68px; line-height:68px; }
.nav ul li a{height:68px; line-height:68px;}
.nav ul li.edtDel .edtDelT a{height: 36px;line-height: 36px;}

/*主内容*/
.mainDiv{ background:#fff; padding:15px; padding-top:15px;}
.mainContent{ background:#fff;border:1px solid #EEEFF2; }
.mainTitle{ line-height:20px; height:20px; font-size:18px; color:#576369; margin-bottom:15px;}
.mainTitle h2{background:url(../images/n.png) no-repeat 0px -234px; padding-left:27px;}

.hasMoreTab{ background:#fff;border-top:1px solid #EEEFF2;  }
.hasMoreTab .hd{ line-height:50px; height:50px;position:relative; padding-right:30px; border-bottom:1px solid #EEEFF2;  padding-left:5px; overflow:hidden; }
.hasMoreTab .hd .more{ float:right; padding-top:15px;}
.hasMoreTab .hd .more a{ display:block; width:66px; height:26px; line-height:24px; text-align:center; background:#34C0E2; border-radius:5px; color:#fff; text-align:center; font-size:14px;}
.hasMoreTab .hd .more a:hover{ background:#29b4d6; color:#fff;}
.hasMoreTab .hd ul{ z-index:5; position:absolute;line-height:50px; height:50px;  overflow:hidden; zoom:1; overflow:hidden; font-size:16px; }
.hasMoreTab .hd li{ float:left;line-height:50px; height:50px;  padding:0 21px; cursor:pointer; margin-left:-1px;font-weight:bold;  background:url(../images/line.png) no-repeat right center; font-size:16px; }
.hasMoreTab .hd li.last{ background:none;}
.hasMoreTab .hd li.on{ line-height:50px; height:50px; color:#13a9ce;  }
.hasMoreTab .bd{  padding:10px 25px 20px 25px; clear:both; position:relative; overflow:hidden;  }
.hasMoreTab .bd ul li{ font-size:14px; color:#8e8f8f; height:40px; line-height:40px; overflow:hidden; border-bottom:1px dashed #EEEFF2; text-indent:25px; background:url(../images/n8.png) no-repeat left center;float:none; width:100%; float:left;  }
.hasMoreTab .bd ul li a{ font-size:14px; color:#8e8f8f; }
.hasMoreTab .bd ul li span{ float:right;}
.hasMoreTab .bd ul li a:hover{ color:#34C0E2; }
.hasMoreTab .bd .conWrap,.hasMoreTab .bd .conWrap .con{ width:auto !important;}
.hasMoreTab1{ border-top:none;}
.hasMoreTab1 .bd ul { width:112%;}
.hasMoreTab1 .bd ul li{width:43.2%; float:left; margin-right:40px; }
.lftCon{ float:left; width:50%; overflow:hidden;}
.rgtCon{ float:right; width:50%;overflow:hidden;}
.hasMoreTab2{border-right:1px solid #EEEFF2; margin-left:-1px;   }
.hasMoreTab2 .bd ul { width:100%;}
.hasMoreTab3 .bd .date{ text-align:center;}





/*弹出窗样式    开始*/
.black_overlay{display: none; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:10001; -moz-opacity: 0.5; opacity:.50; filter: alpha(opacity=50);}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	min-width: 50%;
	min-height: 50%;
	max-width: 70%;
	max-height: 70%;
	padding: 0px;
	border: 1px solid #666;
	background-color: white;
	z-index: 10002;
	overflow: auto;
}
.white_content .title{position:relative; background:#f5f5f5; height:58px;}
.white_content .title .name{position:relative; padding-left:44px; line-height:48px; font-size:16px; color:#576369; font-weight:bold;}
.white_content .title .name .ico{position:absolute; top:20px; left:20px; width:10px; height:10px; border-radius:50%; background:#02b1f3;}
.white_content .title .close{position:absolute; right:10px; top:15px; height:24px; width:24px; background:url(../images/n.png) no-repeat 0px -306px; cursor:pointer;}
.white_content .title .close:hover{background:url(../images/n.png) no-repeat 0px -340px;}

.white_c01{top: 50%;left: 50%;min-width:466px;min-height:280px;margin-top:-140px; margin-left:-233px;}
.white_c02{top: 50%;left: 50%;min-width:466px;min-height:180px;margin-top:-140px; margin-left:-233px;}
.prompt_inf{font-size:24px; text-align:center; padding:50px;}
.btn01{text-align:center;}
.btn01 a {background: #02b1f3;border: medium none;border-radius: 4px;color: #fff;display: inline-block;font-size: 24px;height: 44px;line-height: 44px;padding: 0 14px;text-align:center;margin:auto;text-decoration: none; width:140px; cursor:pointer;}
.btn01 a:hover{background: #34c0e2;}

/*弹出窗样式    结束*/









